<h1>Ayuda</h1>

<hr />

<h2>Información del Estudiante</h2>

<p><strong>Nombre:</strong> Douglas Xavier Santiago Soto Mejia</p>
<p><strong>Carnet:</strong> 202201502</p>
<p><strong>Curso:</strong> IPC2</p>
<p><strong>Proyecto:</strong> Proyecto 3</p>

<hr />
