<h1>Peticiones</h1>

<hr />

<h2>Estado de Cuenta</h2>
<a href="/Home/EstadoCuenta">
    <button>Consultar Estado de Cuenta</button>
</a>

<hr />

<h2>Ingresos</h2>
<a href="/Home/IngrersosView">
    <button>Consultar Ingresos</button>
</a>

<hr />

<h2>Ayuda</h2>
<a href="/Home/Ayuda">
    <button>Ver Ayuda</button>
</a>